* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  background-color: #F9F7ED;
  font-family: 'DM Sans', sans-serif;
  font-weight: bolder;
}

main {
  padding: 0rem;
}

h1 {
  color: #5432CF;
  padding: 1rem;
  text-align: center;
}

h2 {
  color: #5432CF;
  text-align: right;
  font-size: 1rem;
  flex: 1;
}

h3 {
  padding: 1.5rem;
  padding-top: 0rem;
  color: #5432CF;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.question-container {
  position: fixed;
  top: 20%;
  bottom: 25%;
  padding: 1.5rem;
}

navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background-color: #5432CF;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

homebutton {
  position: fixed;
  top: 20px;
  right: 10px;
  width: 40px; /* Set a fixed width to maintain a circular shape */
  height: 40px; /* Set a fixed height to maintain a circular shape */
  padding: 0;
  background-color: #5432CF;
  color: #F9F7ED;
  border: none;
  border-radius: 50%; /* Make it a circle */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 35%;
  margin-top: 12px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #F9F7ED;
  color: #5432CF;
  border-radius: 10px;
  margin: 0 auto;
  font-family: 'DM Sans', sans-serif;
  border: none;
  text-decoration: none;
}

.btn-disabled {
  background-color: lightgray;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 5% 0%;
  padding: 16px 8px;
  color: #F9F7ED;
  background-color: #5432CF;
  border-radius: 10px;
  height: 30%;
}

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #FF6700;
}

.container {
  width: 100%;
  margin: auto;
  padding: 1rem;
}

.quiz-container {
  background-color: #F9F7ED;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 4px;
}

.container p {
  padding: 5%;
  color: #5432CF;
  text-align: center;
  line-height: 2.0;
  font-weight: bold;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.bottom-image {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.filling-box {
  height: 20px;
  width: 90%;
  background-color: #5432CF;
  border-radius: 5px;
  overflow: hidden;
}

.filling-bar {
  height: 100%;
  background-color: #FF6700;
  transition: width 0.5s ease;
}

.filling-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.question-status {
  flex: 1; 
  text-align: right;
}